/Builds - MemApplication.xojo_project/

/MemApplication.debug/
UPS/My Application.debug/Resources/appicon128.png
UPS/My Application.debug/Resources/appicon256.png
UPS/My Application.debug/Resources/favicon.ico
UPS/My Application.debug/Resources/favicon@2x.ico
UPS/My Application.debug/Resources/homescreen120.png
UPS/My Application.debug/Resources/homescreen152.png
UPS/My Application.debug/Resources/homescreen60.png
UPS/My Application.debug/Resources/homescreen76.png
UPS/My Application.debug/Resources/en.lproj/Localizable.strings
